language: node_js
node_js:
  - "4"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
script: "npm run-script test-travis"
# after_script: "npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
after_success: 'npm run coveralls'